backend/.env
backend/node_modules
backend/test
backend/.DS_Store

esp32Simulate

parkingSystem/.env

ml_service/.env
ml_service/.venv
ml_service/__pycache__
ml_service/pricing_model.pkl
ml_service/train_model.py

vision_service/.env
vision_service/__pycache__
vision_service/.venv
vision_service/.DS_Store